<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="shortcut icon" href="/static/favicon.png">
	<meta charset="UTF-8">
	<title>Log In</title>
</head>
<body>
	<style>
		body{
			background-color: black;
		}
		p{
			color: white;
		}
		label{
			color: white;
		}
	</style>
	<p>Create New User</p>
	<label> Your Username<label>
	<input type="text" id="username"/>
	<label> Your Password</label>
	<input type="text" id="password"/>
	<button id="submit">Create!</button>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="/static/create_user.js"></script>
</body>
</html>