<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Your Profile</title>
</head>
<body>
	<style>
		body{
			background-color: black;
		}
		
		h1{
			color: white;
		}
		
		h2{
			color: white;
		}
		
		#map {
			height: 530px;
			width: 60%;  
    }
		
		#profile_header{
			position: absolute;
			left: 40%;
		}

		#toggle{
			position: absolute;
			left: 70%;
			top: 40%;
		}
	</style>
	<h1 id="profile_header">YOUR PROFILE</h1>
	<br><br><br><br>
	<div id="map"></div>
	
	<div id="toggle">
		<h2>Toggle Between Saved and Posted Places/Things</h2>
		<button id="show_saved">Saved Places</button>
		<button id="show_posted">Posted Items</button>
	</div>
	
	<a href='/nearby_search'>NEW NEARBY DELI SEARCH</a>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	
	<script>
	// because of some jinja problems the username and password variables are created here
		window.username = "{{username}}"; 
		window.password = "{{password}}";
	</script>
	
	<script src="/static/profile_page.js"></script>
	
	<script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGb61LgcVHDtga1yeKrcPOvnVInCtr3ms&callback=draw_map&libraries=places">
	</script>
</body>
</html>